.header_bar {
    width: 100%;
    height: 80px;
}

.nav_bar {
    display: none;
}

.header_bar > .container_wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    i.menu_bar {
        display: none;
    }
    
    .header_bar > .container_wrap {
        justify-content: flex-start;
    }
    .header_logo {
        flex: 1;
    }
    .nav_bar {
        flex: 5;
        display: flex;
        justify-content: flex-end;
    }
    .nav_list {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .nav_list-item {
        cursor: pointer;
    }
    .nav_list-item:hover {
        transition: color .2s ease;
        color: orange;
    }
    .header_info {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    .header_info > i {
        margin-left: 5px;
    }
}